<div
  class="container d-flex justify-content-center align-items-center min-vh-100"
>
  <div class="text-center map-container border rounded p-3">
    <p class="h3 p-2 map-title text-black">eCart map example</p>
    <hr />
    <div>
      <button
        class="btn btn-sm"
        (click)="editMode = !editMode"
        [ngClass]="editMode ? 'btn-danger' : 'btn-primary'"
      >
        Switch to {{ editMode ? "Normal" : "Edit" }} mode
      </button>
    </div>
    <div class="p-2 position-relative" *ngIf="stoppers">
      <svg
        [attr.width]="svgDimensions.width"
        [attr.height]="svgDimensions.height"
        class="svg-map"
      >
        <!-- Draw lines between stoppers (connections) -->
        <ng-container *ngFor="let stopper of stoppers">
          <line
            *ngIf="stopper.connections.E"
            [attr.x1]="stopper.x"
            [attr.y1]="stopper.y"
            [attr.x2]="getStopperById(stopper.connections.E).x"
            [attr.y2]="getStopperById(stopper.connections.E).y"
            stroke="black"
            stroke-width="2"
          />
          <line
            *ngIf="stopper.connections.S"
            [attr.x1]="stopper.x"
            [attr.y1]="stopper.y"
            [attr.x2]="getStopperById(stopper.connections.S).x"
            [attr.y2]="getStopperById(stopper.connections.S).y"
            stroke="black"
            stroke-width="2"
          />
        </ng-container>

        <!-- Draw stoppers (circles) -->
        <circle
          *ngFor="let stopper of stoppers"
          [attr.cx]="stopper.x"
          [attr.cy]="stopper.y"
          [attr.fill]="stopper.color"
          r="15"
          stroke="black"
          stroke-width="2"
          [tooltip]="popTemplate"
          [container]="'body'"
          tooltipPlacement="top"
          tooltipClass="custom-tooltip"
          (mouseover)="showDetails(stopper)"
          (mouseout)="hideDetails()"
          (click)="onStopperClick(stopper, $event)"
        ></circle>
      </svg>

      <!-- Tooltip Template -->
      <ng-template #popTemplate>
        <div *ngIf="hoveredStopper" class="text-start">
          <strong>ID:</strong> {{ hoveredStopper.id }}<br />
          <strong>eCart ID:</strong> {{ hoveredStopper.data.eCartId }}<br />
          <strong>Description:</strong> {{ hoveredStopper.data.description
          }}<br />
          <strong>Arrival Time:</strong> {{ hoveredStopper.data.arrivalTime }}
        </div>
      </ng-template>

      <!-- Contextual Menu -->
      <div
        *ngIf="contextualMenuVisible"
        class="contextual-menu bg-light p-3 border rounded shadow"
        style="position: fixed; top: 100px; right: 20px; width: 250px"
      >
        <h5>Stopper: {{ selectedStopper?.id }}</h5>
        <p>
          <strong>eCart ID:</strong> {{ selectedStopper?.data.eCartId }}<br />
          <strong>Description:</strong> {{ selectedStopper?.data.description
          }}<br />
        </p>
        <button class="btn btn-sm btn-primary my-2" (click)="editStopper()">
          Edit Stopper
        </button>
        <hr />

        <div class="dropdown-divider"></div>
        <div class="position-relative text-center neighbor-buttons">
          <button
            class="btn btn-secondary btn-sm position-absolute top-0 start-50 translate-middle-x"
            (click)="addRemoveNeighbor('N')"
          >
            <i class="fas fa-arrow-up"></i> {{ addRemoveNeighborLabel("N") }}
          </button>
          <button
            class="btn btn-secondary btn-sm position-absolute start-0 top-50 translate-middle-y"
            (click)="addRemoveNeighbor('W')"
          >
            <i class="fas fa-arrow-left"></i> {{ addRemoveNeighborLabel("W") }}
          </button>
          <button
            class="btn btn-secondary btn-sm position-absolute top-50 end-0 translate-middle-y"
            (click)="addRemoveNeighbor('E')"
          >
            <i class="fas fa-arrow-right"></i> {{ addRemoveNeighborLabel("E") }}
          </button>
          <button
            class="btn btn-secondary btn-sm position-absolute bottom-0 start-50 translate-middle-x"
            (click)="addRemoveNeighbor('S')"
          >
            <i class="fas fa-arrow-down"></i> {{ addRemoveNeighborLabel("S") }}
          </button>
        </div>

        <div class="dropdown-divider"></div>
        <button
          class="btn btn-sm btn-danger w-100 my-2"
          (click)="removeStopper()"
        >
          Remove Stopper
        </button>
        <button
          class="btn btn-sm btn-secondary w-100 my-2"
          (click)="closeMenu()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
