.map-container {
  background-color: #fff;
  border: none;
  position: relative;
  border-radius: 15px;
  box-shadow: 12px 12px 2px 1px rgba(255, 255, 255, 0.2);
}

.svg-map {
  border-radius: 10px;
  border: 2px solid #000;
}

.map-title {
  cursor: default;
}

.contextual-menu {
  position: fixed;
  top: 100px;
  right: 20px;
  width: 250px;
  z-index: 1000;
}

.neighbor-buttons {
  height: 150px;
  width: 220px;
  margin: 0 auto;
  position: relative;
}

.neighbor-buttons button {
  width: 105px;
}

.contextual-menu {
  position: fixed;
  top: 100px;
  right: 20px;
  width: 250px;
}

.ecart-available {
  fill: #0097ac;
}

.ecart-unavailable {
  fill: gray;
}

.ecart-selected {
  fill: lightgreen;
}

.fade-in-out {
  animation: fadeInOut 2s infinite;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
