<div
  class="container d-flex justify-content-center align-items-center min-vh-100"
>
  <div class="text-center map-container border rounded p-3">
    <p class="h3 p-2 map-title text-black">eCart map example</p>
    <hr />
    <!-- Legend Section -->
    <div class="legend mb-3 p-3 bg-light border rounded shadow-sm">
      <div class="d-flex align-items-center">
        <div *ngIf="!isEditMode" class="me-4">
          <svg width="20" height="20">
            <circle class="ecart-available" cx="10" cy="10" r="8"></circle>
          </svg>
          <span class="ms-1">eCart Available</span>
        </div>
        <div *ngIf="!isEditMode" class="me-4">
          <svg width="20" height="20">
            <circle class="ecart-unavailable" cx="10" cy="10" r="8"></circle>
          </svg>
          <span class="ms-1">eCart Unavailable</span>
        </div>
        <div *ngIf="isEditMode" class="me-4">
          <svg width="20" height="20">
            <circle class="ecart-available" cx="10" cy="10" r="8"></circle>
          </svg>
          <span class="ms-1">Stopper</span>
        </div>
        <div *ngIf="isEditMode">
          <svg width="20" height="20">
            <circle class="ecart-selected" cx="10" cy="10" r="8"></circle>
          </svg>
          <span class="ms-1">Selected Stopper</span>
        </div>
      </div>
    </div>
    <div class="toolbar mb-3">
      <!-- Edit mode button -->
      <button
        *ngIf="!isEditMode"
        class="btn btn-primary"
        (click)="enterEditMode()"
      >
        <i class="fas fa-edit"></i> Switch to Edit Mode
      </button>

      <!-- Save / Cancel buttons when in edit mode -->
      <div *ngIf="isEditMode">
        <button
          *ngIf="this.originalStoppers.length > 0"
          class="btn btn-danger me-2"
          (click)="cancelEdit()"
        >
          <i class="fas fa-times"></i> Cancel
        </button>
        <button
          class="btn btn-success"
          (click)="saveEdit()"
          [disabled]="!hasChanges || showNewStopperDialog"
        >
          <i class="fas fa-check"></i> Save Edit
        </button>
      </div>
    </div>
    <div class="p-2 position-relative svg-wrapper" *ngIf="stoppers">
      <svg
        [attr.width]="svgDimensions.width"
        [attr.height]="svgDimensions.height"
        class="svg-map"
      >
        <!-- Grid pattern -->
        <defs *ngIf="isEditMode">
          <pattern
            id="grid"
            width="50"
            height="50"
            patternUnits="userSpaceOnUse"
          >
            <path
              d="M 50 0 L 0 0 0 50"
              fill="none"
              stroke="lightgray"
              stroke-width="1"
            />
          </pattern>
        </defs>

        <!-- background rectangle for the grid pattern -->
        <rect width="100%" height="100%" fill="url(#grid)"></rect>

        <!-- Draw lines between stoppers (connections) -->
        <ng-container *ngFor="let stopper of stoppers">
          <line
            *ngIf="stopper.connections.E"
            [attr.x1]="stopper.x"
            [attr.y1]="stopper.y"
            [attr.x2]="getStopperById(stopper.connections.E).x"
            [attr.y2]="getStopperById(stopper.connections.E).y"
            stroke="black"
            stroke-width="2"
          />
          <line
            *ngIf="stopper.connections.S"
            [attr.x1]="stopper.x"
            [attr.y1]="stopper.y"
            [attr.x2]="getStopperById(stopper.connections.S).x"
            [attr.y2]="getStopperById(stopper.connections.S).y"
            stroke="black"
            stroke-width="2"
          />
        </ng-container>

        <!-- Draw stoppers (circles) -->
        <circle
          *ngFor="let stopper of stoppers"
          [attr.cx]="stopper.x"
          [attr.cy]="stopper.y"
          [attr.fill]="stopper.color"
          r="15"
          stroke="black"
          stroke-width="2"
          [tooltip]="popTemplate"
          [ngClass]="{
            'ecart-selected': stopper.id === this.selectedStopper?.id,
            'ecart-available': stopper.data.isEcartAvailable || isEditMode,
            'ecart-unavailable': !isEditMode && !stopper.data.isEcartAvailable
          }"
          [container]="'body'"
          tooltipPlacement="top"
          tooltipClass="custom-tooltip"
          (mouseover)="showDetails(stopper)"
          (mouseout)="hideDetails()"
          (click)="isEditMode && onStopperClick(stopper, $event)"
        ></circle>

        <!-- Render the temporary stopper -->
        <g *ngIf="tempStopper">
          <circle
            id="temp-stopper-{{ tempStopper.id }}"
            [attr.cx]="tempStopper.x"
            [attr.cy]="tempStopper.y"
            r="10"
            class="fade-in-out"
            stroke="black"
            fill="transparent"
            stroke-width="2"
          />
          <line
            *ngIf="selectedStopper"
            [attr.x1]="selectedStopper.x"
            [attr.y1]="selectedStopper.y"
            [attr.x2]="tempStopper.x"
            [attr.y2]="tempStopper.y"
            stroke="black"
            stroke-dasharray="5, 5"
          />
        </g>
      </svg>

      <!-- Tooltip Template -->
      <ng-template #popTemplate>
        <div *ngIf="hoveredStopper" class="text-start">
          <strong>ID:</strong> {{ hoveredStopper.id }}<br />
          <strong>eCart ID:</strong> {{ hoveredStopper.data.eCartId }}<br />
          <strong>Description:</strong> {{ hoveredStopper.data.description
          }}<br />
          <strong>Arrival Time:</strong> {{ hoveredStopper.data.arrivalTime }}
        </div>
      </ng-template>

      <!-- Contextual Menu -->
      <div
        *ngIf="isEditMode"
        class="contextual-menu bg-light p-3 border rounded shadow contextual-menu"
      >
        <div *ngIf="contextualMenuVisible; else noStopperSelected">
          <div *ngIf="this.selectedStopper && this.selectedStopper.id !== ''">
            <h5>Stopper: {{ selectedStopper?.id }}</h5>
            <p>
              <strong>eCart ID:</strong> {{ selectedStopper?.data.eCartId
              }}<br />
              <strong>Description:</strong>
              {{ selectedStopper?.data.description }}<br />
            </p>

            <hr />
          </div>
          <div *ngIf="!showNewStopperDialog; else newStopperInputs">
            <div class="dropdown-divider"></div>
            <div class="position-relative text-center neighbor-buttons">
              <button
                class="btn btn-secondary btn-sm position-absolute top-0 start-50 translate-middle-x"
                (click)="addRemoveNeighbor('N')"
              >
                <i class="fas fa-arrow-up"></i>
                {{ addRemoveNeighborLabel("N") }}
              </button>
              <button
                class="btn btn-secondary btn-sm position-absolute start-0 top-50 translate-middle-y"
                (click)="addRemoveNeighbor('W')"
              >
                <i class="fas fa-arrow-left"></i>
                {{ addRemoveNeighborLabel("W") }}
              </button>
              <button
                class="btn btn-secondary btn-sm position-absolute top-50 end-0 translate-middle-y"
                (click)="addRemoveNeighbor('E')"
              >
                {{ addRemoveNeighborLabel("E") }}
                <i class="fas fa-arrow-right"></i>
              </button>
              <button
                class="btn btn-secondary btn-sm position-absolute bottom-0 start-50 translate-middle-x"
                (click)="addRemoveNeighbor('S')"
              >
                <i class="fas fa-arrow-down"></i>
                {{ addRemoveNeighborLabel("S") }}
              </button>
            </div>

            <div class="dropdown-divider"></div>
            <hr />

            <button
              class="btn btn-sm btn-primary my-2 w-100"
              (click)="editStopper()"
            >
              <i class="fas fa-edit"></i>
              Edit Stopper
            </button>
            <button
              *ngIf="this.stoppers.length > 1"
              class="btn btn-sm btn-danger w-100 my-2"
              (click)="removeStopper()"
            >
              <i class="fas fa-trash px-1"></i>Remove Stopper
            </button>
            <button
              class="btn btn-sm btn-secondary w-100 my-2"
              (click)="closeMenu()"
            >
              <i class="fas fa-close"></i> Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noStopperSelected>
  <div class="alert alert-warning" role="alert">
    Please click on a stopper to view or edit details.
  </div>
</ng-template>

<ng-template #newStopperInputs>
  <p class="h5 cursor-default">Add new Stopper</p>
  <div class="form-group">
    <label for="newStopperId"
      >Stopper ID
      <span class="text-danger">*</span>
    </label>
    <input
      type="text"
      class="form-control"
      id="newStopperId"
      placeholder="Enter Stopper ID"
      [(ngModel)]="newStopper.id"
    />
    <label for="newStopperDescription">Description</label>
    <input
      type="text"
      class="form-control"
      id="newStopperDescription"
      placeholder="Enter description"
      [(ngModel)]="newStopper.data.description"
    />
    <!-- change this to be a dropdown with numbers 1-10 -->
    <label for="newStopperDistanceInput">Distance</label>
    <select
      class="form-control"
      id="newStopperDistanceInput"
      (change)="onDistanceChange(newStopper.data.distance)"
      [(ngModel)]="newStopper.data.distance"
    >
      <option *ngFor="let distance of arrayOfDistances" [value]="distance">
        {{ distance }}
      </option>
    </select>
  </div>
  <div class="py-2">
    <button
      *ngIf="this.stoppers.length > 0"
      class="btn btn-secondary me-2"
      (click)="cancelAddingOfNewStopper()"
    >
      <i class="fas fa-times"></i> Cancel
    </button>
    <button
      class="btn btn-primary"
      (click)="saveNewStopper()"
      [disabled]="
        newStopper.id === '' ||
        newStopper.data.distance < 1 ||
        newStopper.data.distance > 10
      "
    >
      <i class="fas fa-check"></i> Save
    </button>
  </div>
</ng-template>
